<h1>Ajout d'un nouveau produit </h1>

<div class="add-intro">
    <button class="btn-primary add"><a href="/items">Liste</a></button>
</div>
<hr>
<div class="add-form">
    <h2>Formulaire</h2>
    <form action="add" method="POST">
        <input type="text" placeholder="NOM" id="nameField" name="nameField" required>
        <input type="text" step="0.01" id="priceField" name="priceField" placeholder="PRIX">
        <input class="btn-primary" type="submit" value="Ajouter">
        <p class="info {{classInfo}}">{{text}}</p>
    </form>
</div>
