<hr>
  <div class="convert">
    <h2>Ajouter un item</h2>
        <button class="btn-primary add"><a href="/add">AJOUTER</a></button>
  </div>
<hr>
  <div class="results">
    <h2>Liste des prix</h2>
    <ul>
      {{#items}}
      <li id="{{id}}">
        <a href="/detail/{{id}}">
          <span>{{name}}</span> /
          <span>{{priceEur}}</span>
        </a>
      </li>
      {{/items}}
    </ul>
  </div>
<hr>
  <div class="currency">
    <h2>Choisir une devise</h2>
    <ul>
      {{#devises}}
      <li id="{{name}}">
        <a href="/items?d={{name}}">
          <span>{{name}}</span>
        </a>
      </li>
      {{/devises}}
    </ul>
  </div>
