body {
  background-color: #f5f5f5;
  color: #313131;
  font-family: 'Krona One', sans-serif;
}

header {
    padding: 30px;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
}

.content_left, .nav_right {
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content_left h1 {
    font-size: 58px;
    margin-bottom: 60px;
}
.content_left h1::after {
    content: "";
    width: 60%;
    height: 1px;
    background: #313131;
    display: block;
    margin-top: 10px;
}


/* Right section */
.bloc_right {
  height: 50%;
  width: 100%;
}
.bloc_right a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    text-transform: uppercase;
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 33%;
}
.link_to_all {
  background: url('../images/money.jpg') center center / cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.link_to_add{
    height: calc(50% - 40px);
    width: 100%;
    border: #313131 solid 1px;
    margin: 20px 0;
}
.link_to_add a {
  color: #313131;
}
